<div class="container">

        <div class="jumbotron">
          <h1 class="text-center"><span class="fas fa-book-reader"></span> Tutor Finder</h1>
          <hr>
          <h2 class="text-center">Find a perfect Tutor for your need!</h2>
          <br>
    
          <div class="text-center">


        </div>

        

        <form class="form-inline justify-content-center text-center">
            <div class="form-row align-items-center">

                <div class="col-auto my-1">


                    
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Subject</button>
                  
                    <div class="dropdown-menu">
                      <a class="dropdown-item">
                       
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="checkbox1">
                          <label class="custom-control-label" for="checkbox1">Math</label>
                        </div>
                      </a>
                      <a class="dropdown-item" href="#">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="checkbox2" checked>
                          <label class="custom-control-label" for="checkbox2">English</label>
                        </div>
                      </a>
                      <a class="dropdown-item" href="#">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="checkbox3">
                          <label class="custom-control-label" for="checkbox3">Science</label>
                        </div>
                      </a>
                      
                      </a>
                    </div>
                   
                  
                  </div>
              

                

              <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                <select class="custom-select mr-sm-2" id="gradeDropdown">
                  <option value="0">Grade</option>
                  <option value="1">College</option>
                  <option value="2">High School</option>
                  <option value="3">Middle School</option>
                </select>
              </div>


              <br>

              <div class="col-auto my-1 align-items-center">
                  <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                  <select class="custom-select mr-sm-2" id="skillsDropdown">
                    <option type="checkbox" value="0">Skill Level</option>
                    <option value="1">Master</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Novice</option>
                  </select>
                </div>

                <br>

                <div class="col-auto my-1">
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                    <select class="custom-select mr-sm-2" id="locationDropdown">
                      <option value="0">Location</option>
                      <option value="1">Seattle</option>
                      <option value="2">Bellevue</option>
                      <option value="3">Kirkland</option>
                      <option value="3">Renton</option>
                      <option value="3">Federal Way</option>
                    </select>
                  </div>
                
                <br>

                <div class="col-auto my-1">
                    <div class="custom-control custom-checkbox mr-sm-2">
                      <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                      <label class="custom-control-label" for="customControlAutosizing">Remember my preference</label>
                    </div>
                  </div>
              
              <div class="col-auto my-1">
                <button id="searchButton" type="search" class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
        
    </div>


    </div>
    
        
  </div>

    
