<a class="dropdown-item">
    <div class="custom-control custom-checkbox">
        <input class="custom-control-input subject-dropdown-item" type="checkbox" value={{name}} id={{id}}>
        <label class="custom-control-label" for={{id}}>{{name}}</label>
    </div>
</a>