<div class="container">

  <div class="jumbotron">
    <h1 class="text-center"><span class="fas fa-book-reader"></span> Tutor Finder</h1>
    <hr>
    <h2 class="text-center">Enter Tutor information below:</h2>
    <br>

    <div class="text-center">
      <form id="create-tutor-form">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="userFirstName">First name</label>
            <input type="text" class="form-control" id="userFirstName" placeholder="Mark" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="userLastName">Last name</label>
            <input type="text" class="form-control" id="userLastName" placeholder="Gammill" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="userPhoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="userPhoneNumber" placeholder="1-(206)-867-5309">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="userLocation">City</label>
            <input type="text" class="form-control" id="userLocation" placeholder="Seattle" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="userSkillLevel">Skill Level</label>
            <select class="custom-select" id="userSkillLevel">
              <option selected disabled value="">Choose Skill Level</option>
              <option value="1">1 - Struggling Students</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10 - Above and Beyond Students</option>
            </select>
          </div>
          <div class="col-md-3 mb-3">
            <label for="userGrade">Grade</label>
            <select class="custom-select" id="userGrade" required>
              <option selected disabled value="">Choose Grade</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="col-md-3 mb-3">
            <label for="userPhoto">Photo URL</label>
            <input type="text" class="form-control" id="userPhoto">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="userDescription">Brief Description</label>
              <textarea class="form-control" id="userDescription" rows="3"></textarea>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" id="create-tutor-submit" type="submit">Create Tutor</button>
      </form>
    </div>

  </div>
</div>