<div class="container">

  <div class="jumbotron" id="indexcontainer">
    {{> searchtutor}}
  </div>

<div class="container">
    <ul>
      {{#each tutors}}
      {{> tutor-block}}
      {{/each}}
    </ul>
  </div>
</div>