<div class="container horizontal-center">
    <div class="col-md-9 col-md-offset-1">
        
            <div class="jumbotron" id="loginX">

                <div class="containerX">
                    <div class="row" id="rowX">
                        <div class="col-6 mx-auto">
                            <form id="login-form">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" placeholder="Ex: mail@mail.com">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a href="/signup" style="color:white">Create an Account!</a>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        
    </div>
</div>





{{!-- <div class="jumbotron">

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <form id="login-form">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Ex: mail@mail.com">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/signup">Create an Account!</a>
                </form>
            </div>
        </div>
    </div>

</div> --}}