<div class="container horizontal-center">
    <div class="col-md-12 col-md-offset-1">

        <div class="jumbotron" id="loginZ">

            <div class="container">
                <div class="row">
                    <div class="col-6 mx-auto">
                        <form id="signup-form">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="signup_email"
                                    placeholder="Ex: mail@mail.com">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="signup_password"
                                    placeholder="Ex: Password">
                            </div>
                            <div class="form-group">
                                <label for="signup_username">Username</label>
                                <input type="text" class="form-control" id="signup_username" placeholder="Ex: JohnDoe1">
                            </div>
                            <div class="form-group">
                                <label for="signup_role">Role</label>
                                <select class="form-control" id="signup_role">
                                    <option value="1">Student</option>
                                    <option value="2">Tutor</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>













{{!-- <div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <form id="signup-form">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="signup_email" placeholder="Ex: mail@mail.com">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="signup_password" placeholder="Ex: Password">
                </div>
                <div class="form-group">
                    <label for="signup_username">Username</label>
                    <input type="text" class="form-control" id="signup_username" placeholder="Ex: JohnDoe1">
                </div>
                <div class="form-group">
                    <label for="signup_role">Role</label>
                    <select class="form-control" id="signup_role">
                        <option value="1">Student</option>
                        <option value="2">Tutor</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div> --}}