.jumbotron {

  margin-top: 40px;
  text-align: center;
  background-size: cover;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: right;
  background-color: lightseagreen;

}
.btn.btn-primary.dropdown-toggle.mr-4 {

  background: #ffffff;
  color: black;
}

#loginX {
  margin-left:-10px;
  width: 1100px;
  height: 534px;
  font-size: 20px;
}

#loginZ {
  margin-left: 20px;
  font-size: 20px;
}

#rowX {
  margin-top: 79px;
}
#indexcontainer {

  width: 1100px;
  height: 534px;
  background-color: lightseagreen;
}

.card-img-top {
  width: 200px;
  height: auto;
}